@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  /* background-color: aqua; */
}

/* banner section starts */

header {
  width: 1440px;
  height: 652px;
  margin: 0px auto;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  width: 1440px;
  height: 652px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-image {
  width: 240.28px;
  height: 240px;
}
.hero-title {
  width: 998px;
  height: 136px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}

.hero-subtitle {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

.contact-btn {
  border-radius: 8px;
  padding: 21px 24px;
  border: none;
  background: rgb(13, 19, 33);
  /* margin-top: 10px; */
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  box-shadow: 2px 2px 6px black;
  cursor: pointer;
}

/* banner section ends */

/* first section starts */
.first-section {
  width: 1140px;
  height: 1395px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.why-section {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  width: 1140px;
  height: 1395px;
  padding: 80px 97px;
}

.why-section-title {
  width: 852px;
  height: 39px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.why-section-subtitle {
  width: 852px;
  height: 52px;
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.first-article,
.second-article,
.third-article {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 32px 0px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  /* border: 2px solid aqua; */
}

.first-article,
.second-article,
.third-article {
  display: flex;
}

.first-content,
.second-content,
.third-content {
  width: 477px;
  height: 220px;
  margin: 0px 98px;
}

.first-content-title,
.second-content-title,
.third-content-title {
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.first-content-subtitle,
.second-content-subtitle,
.third-content-subtitle {
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.learn-more-btn {
  padding: 12px 20px;
  border: 1px solid rgba(13, 19, 33, 0.7);
  color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.learn-more-btn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

/* second section ends */
