@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  /* background-color: aqua; */
}

/* banner section starts */

header {
  width: 1440px;
  height: 652px;
  margin: 0px auto;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.hero-container {
  width: 1440px;
  height: 652px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-image {
  width: 240.28px;
  height: 240px;
}
.hero-title {
  width: 998px;
  height: 136px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}

.hero-subtitle {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

.contact-btn {
  border-radius: 8px;
  padding: 21px 24px;
  border: none;
  background: rgb(13, 19, 33);
  /* margin-top: 10px; */
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  box-shadow: 2px 2px 6px black;
  cursor: pointer;
}

/* banner section ends */

/* first section starts */
.first-section {
  width: 1140px;
  height: 1395px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.why-section {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  width: 1140px;
  height: 1395px;
  padding: 80px 97px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-section-title {
  width: 852px;
  height: 39px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  /* border: 2px solid red; */
}

.why-section-subtitle {
  width: 852px;
  height: 52px;
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  /* border: 2px solid red; */
}

.first-article,
.second-article,
.third-article {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 32px 0px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  /* border: 2px solid aqua; */
}

.first-article,
.second-article,
.third-article {
  display: flex;
  justify-content: space-around;
}

.first-content,
.second-content,
.third-content {
  width: 477px;
  height: 220px;
  /* margin: 0px 98px; */
}

.first-content-title,
.second-content-title,
.third-content-title {
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.first-content-subtitle,
.second-content-subtitle,
.third-content-subtitle {
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.learn-more-btn {
  padding: 12px 20px;
  border: 1px solid rgba(13, 19, 33, 0.7);
  color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.learn-more-btn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

/* first section ends */

/* second section starts */
.second-section {
  width: 1140px;
  height: 777px;
  /* border: 2px solid red; */
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-title {
  margin: 24px 0px;
  width: 852px;
  height: 39px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.second-section-subtitle {
  width: 852px;
  height: 52px;
  margin: 24px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.second-section-video {
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  margin: 10px 0px;
}

.second-section-video .video {
  border-radius: 16px;
}

/* second-section ends */

/* third-section starts */
.third-section {
  width: 1140px;
  height: 488px;
  /* border: 2px solid red; */
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-section-title {
  width: 852px;
  height: 39px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.third-section-subtitle {
  width: 852px;
  height: 52px;
  margin: 24px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.third-section-container {
  display: flex;
}

.third-section-first-container,
.third-section-second-container,
.third-section-third-container {
  width: 364px;
  height: 300px;
  padding: 40px;
  border-radius: 16px;
  /*  */
  margin: 0px 12px;
}

.third-section-first-container {
  background: rgba(255, 76, 30, 0.05);
}
.third-section-second-container {
  background: rgba(0, 76, 232, 0.05);
}
.third-section-third-container {
  background: rgba(255, 223, 0, 0.05);
}

/* .third-section-container img {
} */

.third-section-container h1 {
  margin: 8px 0px;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.third-section-container p {
  margin: 8px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.third-section-container a {
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.third-section-container a:hover {
  color: grey;
}

/* third section ends */

/* fourth section starts  */
.fourth-section {
  width: 1140px;
  height: 314px;
  margin: 60px auto;
  /* border: 2px solid red; */
  padding: 64px 48px;
  border-radius: 16px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-section h1 {
  width: 292px;
  height: 36px;
  margin: 16px 0px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.fourth-section p {
  width: 606px;
  height: 52px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 16px 0px;
}

.fourth-section input {
  width: 548px;
  height: 57px;
  padding: 19px 20px;
  margin: 0px 4px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.fourth-section button {
  width: 120px;
  height: 58px;
  margin: 0px 4px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

.fourth-section button:hover {
  cursor: pointer;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  border: none;
}

/* fourth section ends  */

/* footer starts  */
.footer {
  width: 1440px;
  height: 100px;
  padding: 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  /* border: 2px solid red; */
  margin: 60px auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container h1 {
  /* width: 390px; */
  height: 24px;
  margin: 0px 16px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

.footer-container i {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.fa-facebook {
  color: #0866ff;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: #0c66c4;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

/* footer ends  */
